name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  checks:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v2
    - name: Run server linters checks
      run: |
        cd server
        npm ci
        npm run lint
        
    - uses: actions/checkout@v2
    - name: Run client linters checks
      run: |
        cd client
        npm ci
        npm run lint    
