name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  checks:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v2
    - name: Run server eslint checks
      run: |
        cd server
        npm ci
        npm run eslint
        
    - uses: actions/checkout@v2
    - name: Run client eslint checks
      run: |
        cd client
        npm ci
        npm run eslint    
